<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg ar_model)">
  <xacro:include filename="$(find annin_ar4_description)/urdf/ar_macro.xacro" />
  <xacro:include filename="$(find annin_ar4_description)/urdf/ar_gripper_macro.xacro" />
  <xacro:include filename="$(find annin_ar4_description)/urdf/ar.ros2_control.xacro" />
  <xacro:include filename="$(find annin_ar4_description)/urdf/ar_gripper.ros2_control.xacro" />

  <xacro:arg name="simulation_controllers" default="" />


  <link name="world" />

  <link name="common_base_link">
    <visual>
      <geometry>
        <box size="0.3 0.2 0.1" /> </geometry>
      <origin xyz="0 0 0.05" rpy="0 0 0" />
       <material name="grey">
            <color rgba="0.5 0.5 0.5 1"/>
        </material>
    </visual>
    <collision>
      <geometry>
        <box size="0.3 0.2 0.1" />
      </geometry>
      <origin xyz="0 0 0.05" rpy="0 0 0" />
    </collision>
    <inertial>
      <mass value="2" />
      <inertia ixx="0.0068" ixy="0.0" ixz="0.0" iyy="0.0136" iyz="0.0" izz="0.017" />
    </inertial>
  </link>

  <joint name="world_to_common_base" type="fixed">
    <parent link="world" />
    <child link="common_base_link" />
    <origin xyz="0 0 0" rpy="0 0 0" />
  </joint>

  <!-- left arm -->
  <xacro:ar_robot
    tf_prefix="left_"
    parent="common_base_link"
    robot_parameters_file="$(find annin_ar4_description)/config/$(arg ar_model).yaml"
  >
    <origin xyz="-0.3 0 0" rpy="0 0 0" />  
  </xacro:ar_robot>
  <xacro:ar_gripper 
    tf_prefix="left_"
    parent="left_ee_link"
  />
  <xacro:ar_ros2_control
    ar_model="$(arg ar_model)"
    plugin_name="gz_ros2_control/GazeboSimSystem"
    serial_port="None"
    calibrate="False"
    robot_parameters_file="$(find annin_ar4_description)/config/$(arg ar_model).yaml"
    joint_offset_parameters_file="$(find annin_ar4_driver)/config/joint_offsets/$(arg ar_model).yaml"
    driver_parameters_file="$(find annin_ar4_driver)/config/driver.yaml"
    tf_prefix="left_"
  />
  <xacro:ar_gripper_ros2_control
    name="ARGripperGazeboSystemLeft"  plugin_name="gz_ros2_control/GazeboSimSystem"
    serial_port="None"
    tf_prefix="left_"
  />

  <!-- right arm -->
  <xacro:ar_robot
    tf_prefix="right_"
    parent="common_base_link"
    robot_parameters_file="$(find annin_ar4_description)/config/$(arg ar_model).yaml"
  >
    <origin xyz="0.3 0 0" rpy="0 0 0" />
  </xacro:ar_robot>
  <xacro:ar_gripper 
    tf_prefix="right_"
    parent="right_ee_link"
  />
  <xacro:ar_ros2_control
    ar_model="$(arg ar_model)"
    plugin_name="gz_ros2_control/GazeboSimSystem"
    serial_port="None"
    calibrate="False"
    robot_parameters_file="$(find annin_ar4_description)/config/$(arg ar_model).yaml"
    joint_offset_parameters_file="$(find annin_ar4_driver)/config/joint_offsets/$(arg ar_model).yaml"
    driver_parameters_file="$(find annin_ar4_driver)/config/driver.yaml"
    tf_prefix="right_"
  />
  <xacro:ar_gripper_ros2_control
    name="ARGripperGazeboSystemRight"  plugin_name="gz_ros2_control/GazeboSimSystem"
    serial_port="None"
    tf_prefix="right_"
  />

  <gazebo reference="world" />
  <gazebo>
    <plugin filename="libgz_ros2_control-system" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
      <parameters>$(arg simulation_controllers)</parameters>
    </plugin>
  </gazebo>
</robot>
